[Desktop Entry]
Name=HTYColorPicker
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYColorPicker/HTYColorPicker
Icon=/media/sonichy/job/HY/Linux/Qt/HTYColorPicker/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYColorPicker
Terminal=false
Type=Application
MimeType=
Categories=